@use "sass:math";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./common.scss";
@import "./toggle.scss";
@import "./layout.scss";
@import "./theme-icon.scss";

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

.svg-icon {
  &.notepad-icon svg {
    margin-top: 0.2rem;
    height: math.div(35.2rem, $font-size-base);
    width: math.div(35.2rem, $font-size-base);
  }

  &.toolbar-icon svg {
    height: math.div(32rem, $font-size-base);
    width: math.div(32rem, $font-size-base);
  }

  &.toolbar-mine-icon svg {
    height: math.div(28rem, $font-size-base);
    width: math.div(28rem, $font-size-base);
  }

  &.toolbar-icon svg,
  &.toolbar-mine-icon svg {
    transform: scale(0.8);
    transition: 0.3s;
  }

  svg {
    pointer-events: none;
    height: math.div(40rem, $font-size-base);
    width: math.div(40rem, $font-size-base);
  }
}

.tab-link-active .svg-icon {
  &.toolbar-icon svg {
    transform: scale(1.1);
  }
  &.toolbar-mine-icon svg {
    transform: scale(1);
  }
}

.font-color {
  color: var(--f7-theme-color);
}

.tabbar-custom {
  transform: scale(0.8);
}

.empty-icon svg {
  height: math.div(230rem, $font-size-base);
  width: math.div(230rem, $font-size-base);
}

.demo-swiper {
  .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    color: #000;
  }

  .swiper-slide {
    box-sizing: border-box;
  }

  &.demo-swiper-auto .swiper-slide {
    width: 85%;
  }
}

.calc-calendar {
  svg {
    height: 1rem;
    width: 1rem;
  }
}

.custom-calendar-fontsize .calendar-day-number {
  font-size: 0.7rem;
}

.overflow-scrolling {
  /* 解决ios手机页面滑动卡顿问题 */
  -webkit-overflow-scrolling: touch;
}

.divide-gray {
  border-bottom-width: calc(1px);
}

:root {
  // 阴影配色基于 --f7-page-bg-color #efeff4;
  --shadow-before-color: #cbcbcf;
  --shadow-after-color: #ffffff;

  --shadow-3: 3px 3px 6px var(--shadow-before-color),
    -3px -3px 6px var(--shadow-after-color);

  --inset-shadow-3: inset 3px 3px 6px var(--shadow-before-color),
    inset -3px -3px 6px var(--shadow-after-color);
}

.inset-shadow-3 {
  box-shadow: var(--inset-shadow-3);
}

.shadow-3 {
  box-shadow: var(--shadow-3);
}

.expense-icon {
  svg {
    width: 30px;
    height: 30px;
  }
}

.calc-active:active {
  box-shadow: var(--inset-shadow-3-);
}

.test-statistics {
  ul {
    background: none;
  }
}

.outer {
  background: linear-gradient(166deg, transparent 81.32px, #ffffff 0) left,
    linear-gradient(166deg, transparent 42px, #ffffff 0) right;
  background-size: 50% 100%;
  background-repeat: no-repeat;

  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.signup-container,
.signin-container {
  width: calc(100vw - 50px);
  height: 350px;

  &::after {
    content: "";
    height: 6.5px;
    position: absolute;
    width: calc(100vw - 80px);
    background: white;
    z-index: -1;
    transform: translate(-50%, 0);
    left: 50%;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.6);
  }

  .signup-btn,
  .signin-btn {
    bottom: -20px;

    svg {
      fill: white;
      height: 25px;
      width: 25px;
    }
  }

  .input-container {
    width: calc(100% - 60px);
    top: 60%;
  }

  .error-message {
    color: var(--f7-input-error-text-color);
  }

  .field-clear-container {
    min-width: 31px;
  }

  .field-clear {
    svg {
      width: 15px;
      height: 15px;
      fill: #4b5563;
    }
  }
}

.third-party {
  svg {
    width: 32px;
    height: 32px;
  }
}

.signin-signup-page {
  background: linear-gradient(0deg, #d2d2d2 0%, #eef2f3);

  .active {
    transform: translate(0, 0);
  }

  .signup-status {
    width: 250%;
    height: 200%;
    background: linear-gradient(0deg, #000, #434343);
    z-index: 700;
    border-radius: 100%;
    top: -200%;
    transition: 3s;
  }

  .is-signup {
    top: 200%;
  }

  .signin-signup-back {
    svg {
      width: 30px;
      height: 30px;
      fill: #374151;
    }
  }
}

.signup-content,
.signin-content {
  min-height: 600px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  transform: translate(100%, 0);
  transition-duration: 100ms;
  transition-delay: 850ms;

  .signup-avatar,
  .signin-avatar {
    background: #d1d5db;
    width: 75px;
    height: 75px;

    svg {
      width: 60px;
      height: 60px;
    }
  }
}
