@use "sass:math";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./common.scss";
@import "./toggle.scss";
@import "./layout.scss";
@import "./login.scss";
@import "./theme-icon.scss";

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

.svg-icon {
  &.notepad-icon svg {
    margin-top: 0.2rem;
    height: math.div(35.2rem, $font-size-base);
    width: math.div(35.2rem, $font-size-base);
  }

  &.toolbar-icon svg {
    height: math.div(32rem, $font-size-base);
    width: math.div(32rem, $font-size-base);
  }

  &.toolbar-mine-icon svg {
    height: math.div(28rem, $font-size-base);
    width: math.div(28rem, $font-size-base);
  }

  &.toolbar-icon svg,
  &.toolbar-mine-icon svg {
    transform: scale(0.8);
    transition: 0.3s;
  }

  svg {
    height: math.div(40rem, $font-size-base);
    width: math.div(40rem, $font-size-base);
  }
}

.tab-link-active .svg-icon {
  &.toolbar-icon svg {
    transform: scale(1.1);
  }
  &.toolbar-mine-icon svg {
    transform: scale(1);
  }
}

.font-color {
  color: var(--f7-theme-color);
}

.tabbar-custom {
  transform: scale(0.8);
}

.empty-icon svg {
  height: math.div(230rem, $font-size-base);
  width: math.div(230rem, $font-size-base);
}

.demo-swiper {
  // margin: 0px 0 35px;

  .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background: #fff;
    color: #000;
  }

  .swiper-slide {
    box-sizing: border-box;
    // border: 1px solid #ddd;
    // background: #fff;
  }

  &.demo-swiper-auto .swiper-slide {
    width: 85%;
  }
}


.test-calendar {
  &.dialog {
    width: auto;
    margin-left: calc(-1 * 320px / 2);
  }

  .dialog-inner {
    padding: 0;
  }
}
