$shadow-integer-2: 2px 2px 4px;
$shadow-negative-2: -2px -2px 4px;
$shadow-integer-3: 3px 3px 6px;
$shadow-negative-3: -3px -3px 6px;

:root .theme-dark,
:root.theme-dark {
  --shadow-before-color: rgb(203, 203, 203, 0.28);
  --shadow-bg-white-before-color: rgb(203, 203, 203, 0.28);
  --shadow-after-color: rgb(70, 70, 70, 0.4);
}
:root {
  // 阴影配色基于 --f7-page-bg-color #efeff4;
  --shadow-before-color: #cbcbcf;
  
  // 阴影配色基于 white
  --shadow-bg-white-before-color:#f5f5f5;
  --shadow-after-color: #ffffff;

  // 陰影配色基於 #60a5fa
  --shadow-bg-blue-400-before-color: #5c9ef0;
  --shadow-bg-blue-400-after-color: #64acff;
}

.shadow-2 {
  box-shadow: $shadow-integer-2 var(--shadow-before-color),
    $shadow-negative-2 var(--shadow-after-color);
}

.shadow-inset-2 {
  box-shadow: inset $shadow-integer-2 var(--shadow-before-color),
    inset $shadow-negative-2 var(--shadow-after-color);
}

.shadow-active-2:active {
  box-shadow: inset $shadow-integer-2 var(--shadow-before-color),
    inset $shadow-negative-2 var(--shadow-after-color);
}

.shadow-3 {
  box-shadow: $shadow-integer-3 var(--shadow-before-color),
    $shadow-negative-3 var(--shadow-after-color);
}

.shadow-bg-white-3 {
  box-shadow: $shadow-integer-3 var(--shadow-bg-white-before-color),
    $shadow-negative-3 var(--shadow-after-color);
}

.shadow-inset-3, .shadow-active-3:active {
  box-shadow: inset $shadow-integer-3 var(--shadow-before-color),
    inset $shadow-negative-3 var(--shadow-after-color);
}

.shadow-bg-white-inset-3, .shadow-bg-white-active-3:active {
  box-shadow: inset $shadow-integer-3 var(--shadow-bg-white-before-color),
    inset $shadow-negative-3 var(--shadow-after-color);
}

.picker-center-highlight {
  // background-color: transparent;

  // box-shadow: $shadow-integer-2 var(--shadow-before-color),
  //   $shadow-negative-2 var(--shadow-after-color);
}