.svg-icon {
  &.notepad-icon svg {
    margin-top: 0.2rem;
    height: math.div(35.2rem, $font-size-base);
    width: math.div(35.2rem, $font-size-base);
  }

  &.toolbar-icon svg {
    height: math.div(32rem, $font-size-base);
    width: math.div(32rem, $font-size-base);
  }

  &.toolbar-mine-icon svg {
    height: math.div(28rem, $font-size-base);
    width: math.div(28rem, $font-size-base);
  }

  &.toolbar-icon svg,
  &.toolbar-mine-icon svg {
    transform: scale(0.8);
    transition: 0.3s;
  }

  svg {
    pointer-events: none;
    height: math.div(40rem, $font-size-base);
    width: math.div(40rem, $font-size-base);
  }
}

.tab-link-active .svg-icon {
  &.toolbar-icon svg {
    transform: scale(1.1);
  }
  &.toolbar-mine-icon svg {
    transform: scale(1);
  }
}

.empty-icon svg {
  height: math.div(230rem, $font-size-base);
  width: math.div(230rem, $font-size-base);
}

.svg-icon-12 {
  svg {
    width: 12px;
    height: 12px;
  }
}

.svg-icon-14 {
  svg {
    width: 14px;
    height: 14px;
  }
}

.svg-icon-15 {
  svg {
    width: 15px;
    height: 15px;
  }
}

.svg-icon-16 {
  svg {
    height: 16px;
    width: 16px;
  }
}

.svg-icon-18 {
  svg {
    height: 18px;
    width: 18px;
  }
}

.svg-icon-20 {
  svg {
    width: 20px;
    height: 20px;
  }
}

.svg-icon-25 {
  svg {
    width: 25px;
    height: 25px;
  }
}

.svg-icon-26 {
  svg {
    width: 26px;
    height: 26px;
  }
}

.svg-icon-28 {
  svg {
    height: 28px;
    width: 28px;
  }
}

.svg-icon-30 {
  svg {
    width: 30px;
    height: 30px;
  }
}

.svg-icon-32 {
  svg {
    width: 32px;
    height: 32px;
  }
}

.svg-icon-60 {
  svg {
    width: 60px;
    height: 60px;
  }
}

.svg-icon-70 {
  svg {
    width: 70px;
    height: 70px;
  }
}

.svg-icon-72 {
  svg {
    width: 72px;
    height: 72px;
  }
}

.svg-icon-170 {
  svg {
    height: 170px;
    width: 170px;
  }
}

.svg-icon-320 {
  svg {
    width: 320px;
    height: 320px;
  }
}

.field-clear {
  svg {
    fill: #4b5563;
  }
}

.percentage-icon-right {
  svg {
    fill: #6b7280;
  }
}

.budget-status-icon {
  svg {
    fill: #b91c1c;
  }
}

.save-icon {
  svg {
    fill: white;
  }
}

.setting-after-icon {
  svg {
    fill: #6b7280;
  }
}

.signup-container,
.signin-container {
  .signup-btn,
  .signin-btn {
    svg {
      fill: white;
    }
  }
}

.signin-signup-page {
  .signin-signup-back {
    svg {
      fill: #374151;
    }
  }
}

// .book-del {
//   svg {
//     width: 20px;
//     height: 20px;
//   }
// }

.empty-image {
  svg {
    transform: scale(0.5);
  }
}

.default-icon-color{
  svg{
    fill: #cbd5e1;
  }
}